#Dependencies
node_modules/

#Environment variables
.env 

#Logs
*.logs 

#OS files
.DS_Store
Thumbs.db

#VS Code settings (optional)
.vscode/

#Firebase service account
serviceAccountKey.json
bizula-firebase-adminsdk-fbsvc-*.json